<% include ../partials/header %>
<% include ../partials/navbarUp %>

<script type="text/javascript"  src="/sanitize-html/dist/sanitize-html.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/css/search/index.css">

<div id="main">
  <h1>PETBASE</h1>
  <p>Connecting pets to the information we need to share.</p>
</div>

<form id="search" class="" action="/search/results/" method="post">
  <input class="inputFields full" name="search" id="search" placeholder="Search Adoptable Pets" aria-label="Search" required>
  <button class="" type="submit">Search</button>
</form>
<hr>



<div id="results-container">
  <div class="header">
    <h2>PETBASE Adoptions</h2>
    <% if (!term) { %>
      <p>Browse all <%=results.length%> adoptable pet records.</p>
    <% } else { %>
      <p>Your search for <em><%= term %></em> had <%= results.length %> matches.</p>
      <% if (results.length == 0) { %>
        <div class="no-results-question"> That's ok though, you can search again. Unless you would you like to see
            <form method="post" action="/search/results" class="inline">
                <input type="hidden" name="search" value="dog">
                <button type="submit" name="submit_param" value="submit_value" class="link-button">
                  all adoptable dogs
                </button>
              </form>
          , or 
          <form method="post" action="/search/results" class="inline">
              <input type="hidden" name="search" value="cat">
              <button type="submit" name="submit_param" value="submit_value" class="link-button">
                  all adoptable cats
              </button>
            </form>
          , or 
          <a href="/search" class="link-button">all adoptable pets</a>?</div>
    <% }} %>
  </div>
  <% results.forEach(function(currPet){%>
    <a href="/pets/<%= currPet.id %>" id="pc-<%=currPet.id%>" class="petcard">
      <div class="left">
        <div class="overlay">
            <span>Click to learn more about this <%=currPet.species%>.</span>
        </div>
        <img class="results-img" src="https://petbase.s3.us-east-2.amazonaws.com/<%=currPet.images.cover%>">
      </div>
      <div class="right">
        <h3>
          <%= currPet.name %>
        </h3>
        <hr>
        <div class="item">
          <%= currPet.breed.length > 1 ? "Mixed Breed": currPet.breed %>
        </div>
        <div class="item" id="desc-<%=currPet.id%>">
          </div> 
        <script>
          //Removes html tags from description and assigns to each pet
          var descriptionSansHtml = sanitizeHtml( "<%-currPet.description.length > 100 ? currPet.description.substring(0, 25) + "...": currPet.description%>", {
            allowedTags: [],
            allowedAttributes: {}
           } )
          document.getElementById("desc-<%=currPet.id%>").innerHTML= descriptionSansHtml;
        </script>
      </div> 
    </a>
  <%})%>
</div>
<!-- <p><%= results %></p> -->
<% include ../partials/footer %>